<!doctype html>
<html>
<head>
<title>Edit - LUC NEWS</title>
<button type="button" onclick="window.location='/';">&lt;&lt;home</button>
<br>
<h1>Edit Article</h1>
</head>

<body>
<form action="/post/edit" method="POST">
Title:
<INPUT TYPE="text" NAME="Title"
 SIZE="50" MAXLENGTH="40"
 value="{{ title }}"
 >
 <br>
Name:
<INPUT
 TYPE="text"
 NAME="Name"
 SIZE="30"
 MAXLENGTH="40"
 value="{{ name }}"
 disabled
 >
 <br>
 <br>
 <TEXTAREA NAME="articleText"
 wrap="soft"
 ROWS="3" COLS="30">{{ text }}</TEXTAREA>

<br><br>

<INPUT TYPE="submit">
</form>
</body>

<footer>
Skillfully designed by:
<br>
Lucien Gaitskell
</footer>
</html>
