<!doctype html>

<html>
<head style="background-color: #163e71">
<style>
  #outerdiv {
    width: 250px; position: relative;
  }

  #innerdiv {
    position: fixed; left: -8px; top: -10px;clip:rect(45px 800px 350px 0px);
  }

  #announce {
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    font-style: normal;
    font-variant: normal;
    font-size: 30px;
    text-align: left;
    position: fixed;
    left:65px;
    top:1px;
  }
</style>
<button style="position: fixed; left:5px; top:8px;" type="button" onclick="history.go(-1);">back</button>
<div id="announce">Connor's MIX!</div>
</head>

<body>
<div id="outerdiv">
<div id="innerdiv">
<iframe width="800" height="350" src="http://themixir.fastcast4u.com" scrolling="no" frameborder="0"></iframe>
</div>
</div>
</body>
<!--<head>
<script type='text/javascript'>
//document.getElementById('body').scrollLeft=9e9;
window.scrollTo(document.getElementById('mainContent').clientWidth, 0);
//window.scrollTo($(document).width(), 0);
//to start scroll all the wau to the right
</script>
</head>
<body style="background-color: #163e71">
  <button type="button" onclick="window.location='/';">back</button>
  <iframe id="mainContent" src="http://themixir.fastcast4u.com" frameborder="0" style="overflow: hidden; height: 100%;
        width: 100%; position: absolute;" height="100%" width="100%"></iframe>
</body>
</html>
