<!doctype html>
<html>

<head style="background-color: #163e71">
<style>
  #outerdiv {
    width: 250px; position: relative;
  }

  #innerdiv {
    position: absolute; left: -8px; top: -40px;clip:rect(45px 800px 350px 0px);
  }
</style>
<button type="button" onclick="window.location='/';">back</button>
      Connor's MIX!
</head>

<body>
<div id="outerdiv">
<div id="innerdiv">
<iframe width="800" height="350" src="http://themixir.fastcast4u.com" scrolling="no" frameborder="0"></iframe>
</div>
</div>
</body>
<!--<head>
<script type='text/javascript'>
//document.getElementById('body').scrollLeft=9e9;
window.scrollTo(document.getElementById('mainContent').clientWidth, 0);
//window.scrollTo($(document).width(), 0);
//to start scroll all the wau to the right
</script>
</head>
<body style="background-color: #163e71">
  <button type="button" onclick="window.location='/';">back</button>
  <iframe id="mainContent" src="http://themixir.fastcast4u.com" frameborder="0" style="overflow: hidden; height: 100%;
        width: 100%; position: absolute;" height="100%" width="100%"></iframe>
</body>-->
</html>
