{# Text in this kind of brackets are comments #}
{# Text between {% %} is Jinja expression #}

{# Take a look at "e". It's a filter which escapes all HTML tags #}
{# Preventing them to be interpreted as normal HTML. #}
{# It's a security feature, use it on all untrusted variables #}
<h1>Hello, {{ name | e }}</h1>
<p>Your random number is {{ number | e }}</p>

{# We can test almost any condition #}
{% if number % 2 == 0: %}
    <p>It is an even number, congratulations!</p>
{% else %}
    <p>You were given an odd number, too bad!</p>
{% endif %}

<h2>Let me display some more numbers</h2>

{# Loops are also available #}
{# "sort" filter sorts the collection #}
{% for i in numbers | sort %}
    {{ i }}&nbsp
{% endfor %}

<h2>Let's check for security vulnerabilities</h2>
{{ script | e }}
