<!doctype html>

<html>
<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
  <title>{{ filePathSnipped }}</title>
</head>

<body>
  <p>Article {{ filePathSnipped[8:] }}<p>
  {% for lineIterator in range(lines|length) %}
    {% if lineIterator < 1 %}
      <div class="title">{{ lines[0] }}</div>
    {% elif lineIterator < 2 %}
    <div class="author">{{ lines[1] }}</div>
    {% elif lineIterator < 3 %}
      <div class="date">{{ lines[2] }}</div>
    {% else %}
      <div class="mainText">{{ lines[lineIterator] }}</div>
    {% endif %}
  {% endfor %}
</body>
