<!doctype html>
<html>
<head>
<title>Login - LUC NEWS</title>
<button type="button" onclick="window.location='/';">&lt;&lt;home</button>
<br>
<h1>login</h1>
</head>

<body>
{% if inputIncorrect=="True" %}
<div style="color: red;">YOU GOT YOUR CREDENTIALS INCORRECT</div>
{% endif %}
<form action="/loginCheck" method="POST">
Username:
<INPUT TYPE="text" NAME="username"
 SIZE="30" MAXLENGTH="40">
 <br>
Password:
<INPUT TYPE="password" NAME="password"
 SIZE="40" MAXLENGTH="40"><br>

Remember Me:
<INPUT TYPE="checkbox" NAME="remeberPass">

<br><br>

<button type="button" onclick="window.location='/signUp/';">SIGNUP</button>  <INPUT TYPE="submit">
</form>
</body>

<footer>
Skillfully designed by:
<br>
Lucien Gaitskell
</footer>
</html>
