<!doctype html>
<html>
<head>
<title>Post - LUC NEWS</title>
<button type="button" onclick="window.location='/';">&lt;&lt;home</button>
<br>
<h1>login</h1>
</head>

<body>
<form action="/loginCheck" method="POST">
  Title:
  <INPUT TYPE="text" NAME="username"
   SIZE="50" MAXLENGTH="40">
   <br>
  Name:
  <INPUT TYPE="password" NAME="password"
   SIZE="30" MAXLENGTH="40">
<br><br>

<INPUT TYPE="submit">
</form>
</body>

<footer>
  Skillfully designed by:
  <br>
  Lucien Gaitskell
</footer>
</html>
