<!doctype html>
<html>
<head>
<title>Post - LUC NEWS</title>
<style>

  .title {
    font-size: 250%;
  }

  .author {
    font-size: 100%;
  }

  .date {
    font-size: 50%;
  }

  .mainText {
    font-size: 100%;
  }

</style>
</head>

<body>
<div>Articles:<div>
<br>
  {% for singleIncrement in range(len(titles)) %}
  <div id="{{ str(fileNames[singleIncrement])[:length(fileNames[singleIncrement])-4] }}" class="title">Title: {{ fileLines[singleIncrement] }}</div>
  <div class="author">Author: {{ fileLines[singleIncrement] }}</div>
  <div class="date">Date Posted: {{ fileLines[singleIncrement] }}</div>
  <br><br>
  <div class="mainText"> {{ fileLines[ii*2] }} <br> {{ fileLines[(ii*2)+1] }} </div>
  <hr>
  {% endfor %}
</body>
</html>
