<!doctype html>
<html>
<head>
<title>Posts - LUC NEWS</title>
<style>

  .mainTitle {
    font-size: 250%;
  }

  }
  .title {
    font-size: 200%;
  }

  .author {
    font-size: 100%;
  }

  .date {
    font-size: 75%;
  }

  .mainText {
    font-size: 100%;
  }

</style>
</head>

<body>
<div class="mainTitle">Articles:<div>
<br>
  {% for singleIncrement in range(titles|length) %}
  <div id="{{ (fileNames[singleIncrement])[:(fileNames[singleIncrement]|length)-4] }}" class="title">Title: {{ titles[singleIncrement] }}</div>
  <div class="author">Author: {{ names[singleIncrement] }}</div>
  <div class="date">Date Posted: {{ dates[singleIncrement] }}</div>
  <br><br>
  <div class="mainText"> {{ texts[singleIncrement*2] }} <br> {{ texts[(singleIncrement*2)+1] }} </div>
  <hr>
  {% endfor %}
</body>
</html>
