<!doctype html>
<html>
<head>
<title>Post - LUC NEWS</title>
<button type="button" onclick="window.location='/';">&lt;&lt;home</button>
<br>
<h1>Post Article</h1>
</head>

<body>
<form action="/post/record" method="POST">
  Title:
  <INPUT TYPE="text" NAME="Title"
   SIZE="50" MAXLENGTH="40">
   <br>
  Name:
  <INPUT
   TYPE="text"
   NAME="Name"
   SIZE="30"
   MAXLENGTH="40"
   {% if username == False %} {# if the user is signed in #}
   value="{{ username }}"
   disabled
   {% endif %}
   >
   <br>
   <br>
   <TEXTAREA NAME="articleText"
   wrap="soft"
   ROWS="3" COLS="25"></TEXTAREA>

<br><br>

<INPUT TYPE="submit">
</form>
</body>

<footer>
  Skillfully designed by:
  <br>
  Lucien Gaitskell
</footer>
</html>
