<p style="font-family: Helvetica, Arial, sans-serif; font-size: 10px; line-height: 12px;">
      <a style="text-decoration:none" href="" class="clink sig-hide logo-container">
          <img src="https://htmlsigs.s3.amazonaws.com/logos/files/000/074/312/landscape/Apple_gray_logo.png" alt="" border="0" class="sig-logo" height="80" width="80">
      </a>
    </p>
    <p style="font-family: Helvetica, Arial, sans-serif; font-size: 10px; line-height: 12px; color: rgb(33, 33, 33);"><span style="font-weight: bold; display: inline;" class="txt signature_name-target sig-hide">Lucien Gaitskell</span>
    <span class="title-sep sep" style="display: inline;">/</span> <span style="display: inline;" class="txt signature_jobtitle-target sig-hide">Wheeler School Student</span>
      <span class="email-sep break" style="display: inline;"><br></span>
      <a class="link email signature_email-target sig-hide" href="mailto:lucien.gaitskell@wheelergmail.org" style="text-decoration: none; display: inline;">lucien.gaitskell@wheelergmail.org</a><span style="" class="txt signature_mobilephone-target sig-hide"></span></p>
    <p style="font-family: Helvetica, Arial, sans-serif; font-size: 10px; line-height: 12px;">

        <span class="company-sep break" style="display: inline;"><br></span>


        <span class="address-sep break"></span>
        <span class="website-sep break"></span>

    </p>
     <p style="font-family: Helvetica, Arial, sans-serif; font-size: 10px; line-height: 12px;">
      </p>
    <!--<p class="banner-container" style="font-family: Helvetica, Arial, sans-serif; font-size: 10px; line-height: 12px;">
          <a href="https://www.htmlsig.com/?utm_source=email&amp;utm_medium=sig&amp;utm_campaign=email%20banner">
            <img src="https://htmlsigs.s3.amazonaws.com/logos/files/000/046/698/landscape/htmlsig-banner.png" alt="htmlsig.com" border="0" class="sig-banner" height="35" width="300">
          </a>
    </p>--><!--/\ put a new banner up dere eventually-->
    <!--<p style="font-family: Helvetica, Arial, sans-serif; font-size: 9px; line-height: 12px;" class="txt signature_disclaimer-target"></p>-->
