<!doctype html>
<html>
<head>
<title>Sign Up - LUC NEWS</title>
<script src='https://www.google.com/recaptcha/api.js'></script>
<button type="button" onclick="window.location='/';">&lt;&lt;home</button>
<br>
<h1>Sign Up</h1>
</head>

<body>
{% if error=="1" %}
<div style="color: red;">YOUR PASSWORDS DIDN'T MATCH</div>
{% endif %}

{% if error=="2" %}
<div style="color: red;">PLEASE FILL OUT EVERYTHING</div>
{% endif %}

{% if error=="3" %}
<div style="color: red;">UNSUPPORTED CHARACTERS WERE USED</div>
{% endif %}

{% if error=="4" %}
<div style="color: red;">THAT USERNAME HAS BEEN TAKEN</div>
{% endif %}

<form action="/signUp/check" method="POST">
Username:<br>
<INPUT TYPE="text" NAME="username"
 SIZE="30" MAXLENGTH="40"
 {% if username != False %}
 value={{ username }}
 {% endif %}
 >
<br>
Email:<br>
<INPUT TYPE="text" NAME="email"
 SIZE="30" MAXLENGTH="40"
 {% if email != False %}
 value={{ email }}
 {% endif %}
 >
<br>
<br>
<br>
Password:<br>
<INPUT TYPE="password" NAME="password1"
 SIZE="40" MAXLENGTH="40"><br><br>
Password Confirm:<br>
<INPUT TYPE="password" NAME="password2"
 SIZE="40" MAXLENGTH="40"><br>
<br>
<br>
<div class="g-recaptcha" data-sitekey="6LcGsQITAAAAAI5hKJ7JnzDWhmdQJDr_XcRmVklb"></div>
<!--recaptcha-->
<br>
<INPUT TYPE="submit">
</form>
</body>

<footer>
Skillfully designed by:
<br>
Lucien Gaitskell
</footer>
</html>
